<mat-toolbar color="primary" class="custom-toolbar">
  <div class="toolbar-left">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Open Navigation Menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a *ngIf="currentRoute !== '/login'" mat-menu-item routerLink="/search" routerLinkActive="active">
        <mat-icon>search</mat-icon>
        <span>Busca</span>
      </a>
      <a *ngIf="currentRoute !== '/login'" mat-menu-item routerLink="/favorites" routerLinkActive="active">
        <mat-icon>favorite</mat-icon>
        <span>Favoritos</span>
      </a>
      <button mat-menu-item (click)="toggleTheme()" aria-label="Toggle Theme">
        <mat-icon>{{ isDarkTheme ? 'dark_mode' : 'light_mode' }}</mat-icon>
        <span>{{ isDarkTheme ? 'Modo Claro' : 'Modo Escuro' }}</span>
      </button>
    </mat-menu>
  </div>
  <span class="toolbar-title">{{ title }}</span>
  <div class="toolbar-right"></div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>